body {
  font-family: "Poppins", sans-serif;
}

.App .card {
  margin: 20px auto;
  width: 80%;
  box-shadow: hsl(161, 90%, 16%) 0 3px 5px 0px;
}

.App .code-text {
  text-align: center;
}

.App .code-link {
  text-decoration: none;
  color: hsl(160, 20%, 58%);
}

.App .code-link:hover {
  cursor: pointer;
  color: hsl(160, 20%, 58%);
  text-decoration: underline;
}
